<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Produto</th>
        </tr>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Models/Compra/compras-controller.js"></script>
}