@{
    ViewBag.Title = "Compras";
}
<div ng-controller="ComprasController">
    <table class="table table-striped table-hover">
        <tr>
            <th>Produto</th>
            <th>Total</th>
            <th>Parcelas</th>
            <th>Data da Compra</th>
        </tr>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Models/Compra/compras-controller.js"></script>
}